

#divExercicio3{
    background-color: yellowgreen;
}

body{
    background-color: aqua;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}

button{
    color: chocolate;
}